header.intro {
  height: 16.6em;
  margin-top: 4em;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right top, rgba(255, 238, 173, 0.7), rgba(245, 238, 220.8)), url(../images/black-linen.png);
}

@media all and (min-width: 1024px) {
  header.intro {
    margin-top: 5em
  }
}