nav {
  height: 4em;
  width: 100%;
  background-color: #DD4A48;
  color: #FDFCE5;
  padding:1em;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position:fixed;
  top: 0;
  width: 100%;
}

.logo{
  font-family: 'Bungee Shade', sans-serif;
  font-size: 1.45em;
  animation: tweet 1.5s ease 1;
}
.logo:hover{
  transform: translateY(-0.2rem);
  transition: all .1s ease;
}
.logo:active{
  transform: translateY(-0.1rem);
  transition: all .1s ease;
}

.chevron {
  color: rgb(255, 238, 173);
  animation: bounce 1.5s ease 3;
}
.chevron:hover,
.nav-btn:hover + i
{
  animation: bounce 1.5s ease infinite;
}
#toTweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
/* animations for logo and tweet button */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(10px);} 
  60% {transform: translateY(5px);} 
} 

@keyframes tweet {
  40% { transform: scale(1.2); }
  45%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}
/* media query for desktop */
@media all and (min-width: 1024px) {
  nav{
    padding: 1.5em;
    height:5em;
  }
}