.tweet-post {
  border: 2px solid #545149;
  padding: .8em;
  margin-top: 1em;
}
.tweet-post:hover{
  box-shadow: 6px 3px 5px #ce5755;
  transition: all .1s ease-in;
}

.tweet-post header {
  display: flex;
}

.tweet-post footer {
  display: flex;
  align-content: start;
  border-top: 2px solid #545149;
  font-size: .75em;
}

.tweet-post p {
  margin-top: .4em;
}

.tweet-name {
  width: 80%;
  margin-left: .1em;
}

.post-footer{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.tweet-handle {
  color: #97948d;
  transition: all .3s ease;
}
.tweet-handle:hover{
  color: #DD4A48;
  transform: translateY(-0.1rem);
}

.tweet-post figure a:visited,
.tweet-post figure a:link {
color: #545149;
margin-right: .45em;
}
.tweet-post figure a:hover{
  color: #DD4A48;
}
.tweet{
  line-height: 1.4em;
}